.activities{
    height: 350px;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    border-radius: 40px;
    padding: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}


.chart-canvas {
    width: 90vw !important;
    height: 300px  !important ;
  }

.heading{
    margin-bottom: 0;
    color: black;
    font-weight: bold;
}

.light{
color: gray;
margin: 0;
}