/* UserDetailsComponent.css */

.user-details-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 300px;
    border: solid black;
  }
  
  .add-icon {
    cursor: pointer;
    background-color: #3498db;
    border: 1px solid #2980b9;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
  }
  
  .add-icon:hover {
    background-color: #2980b9;
  }
  
  .icon {
    color: #fff;
  }
  
  .dialog-box {
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px;
  }
  
  .save-button {
    background-color: #27ae60;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .user-details {
    background-color: #f2f2f2;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px;
  }
  
  /* Add more styles as needed */
  